@use 'abstracts/variables' as *;

%modal{
    min-width: 35rem;
    max-width: 40rem;
    max-height: 40rem;
    border-radius: 3rem;
    padding: 2em 1.8em;
    background-color: $darkBlue;
}

%title{
    margin-top: 0.8em;
    margin-bottom: 0.4em;
    color: $white;
}

%text{
    color: $lightGrey;
    margin-bottom: 1em;
}

.modal{
    @extend %modal;

    &--align-center{
        text-align: center;
    }

    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: $darkGrey;

        &--w-h-100{
            width: inherit;
            height: inherit;
            background-color: transparent
        }
    }

    &__info{
        display: inline-block;
        width: fit-content;
        border-radius: 5rem;
        margin-top: 1.8em;
        padding: 0.3em 0.8em;
        color: $orange;
        font-size: $fs-base;
        background-color: $darkGrey;
    }

    &__title{
        @extend %title;
    }

    &__text{
        @extend %text;
    }

    &__rating-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $lightGrey;
        margin: 1.8em 0;
    }

    &__rating{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        background-color: $darkGrey;
        font-size: $fs-base;

    }

    &__rating-value {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: inherit;
        width: inherit;
        transition: color, background-color 200ms linear;
        
        &:hover{
            background-color: $orange;
            color: $white;
            cursor: pointer;
        }

        &:active{
            transition: color, background-color linear;
            background-color: $white;
            color: $orange;
        }
    }

    &__rating-input{
        display:none;

        &:checked + label{
            background-color: $lightGrey;
            color:$white;
        }
    }

    &__btn{
        display: block;
        width: 100%;
        margin-top: 1em;
        padding: 0.6em 0;
        border-radius: 2rem;
        border: none;
        background-color: $orange;
        text-transform: uppercase;
        color: $white;
        letter-spacing: 2px;
        font-size: $fs-base;
        font-weight: $fw-700;
        transition: background-color, color 0.2s;
        cursor: pointer;

        &:active{
            background-color: white;
            color: orange;
        }
    }   
}
