/* PRIMARY */
$orange: hsl(25, 97%, 53%);

/*NEUTRAL COLORS */
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$darkGrey: hsl(213, 17%, 25%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);

/* Fonts */
 
$ff-base: 'Overpass', sans-serif; 
$fs-base: 1.5rem;
$fs-title: $fs-base * 1.8;

$fw-700: 700;
$fw-400: 400;